__pycache__
.idea
MANIFEST
/logfiles
/testfiles
defaults.pkl
/build
/dist
main.spec
/debian
*.pyc
*.egg-info
/trial_and_error
/papers
/tutorials
/docs/_build
/docs/_static
/docs/_templates
/tests/outputs