traitsui==6.0.0
matplotlib==2.2.0
certifi==2018.1.18
spglib==1.10.3.39
pandas==0.22.0
numpy==1.15.0
vtk==8.1.1
pyface==6.0.0
requests==2.18.4
psutil==5.4.6
mayavi==4.6.1
pymatgen==2018.3.14
setuptools==28.8.0
sortedcontainers==2.0.3
scipy==1.0.0
traits==4.6.0
periodictable==1.5.0
six==1.11.0
cx_Freeze==5.1.1
ruamel.base==1.0.0
